{% extends "layouts/main.html" %} 

{% block content %}
  <div class="ribbon" {{ post.get_ribbon_style() | safe }}></div>
  <main class="mdl-layout__content content__with--ribbon">
    <div class="container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <article class="single-post content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="crumbs mdl-color-text--grey-500">
          Posted by: {{ post.user }}
        </div>
        <h1>{{ post.title }}</h1>
        <hr>
        {{ post.content | safe }}
      </article>
    </div>
  </main>
{% endblock %}