{% extends "layouts/auth.html" %} 

{% block content %}

<form method="post">
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label 
  {% if error_username %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="text" name="username" value="{{username}}">
    <label class="mdl-textfield__label" for="username">Username</label>
    <span class="mdl-textfield__error">{{ error_username }}</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
  {% if error_email %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="text" name="email" value="{{email}}">
    <label class="mdl-textfield__label" for="email">Email Address</label>
    <span class="mdl-textfield__error">{{ error_email }}</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
  {% if error_password %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="password" name="password">
    <label class="mdl-textfield__label" for="password">Password</label>
    <span class="mdl-textfield__error">{{ error_password }}</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
  {% if error_password_verify %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="password" name="password-validate">
    <label class="mdl-textfield__label" for="password-validate">Re-type password</label>
    <span class="mdl-textfield__error">{{ error_password_verify }}</span>
  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Register Now
  </button>

  <a href="login" class="mdl-button mdl-js-button mdl-js-ripple-effect">
    Already have an account?
  </a>
</form>


{% endblock %}